#top {
    position: relative;
    color: white !important;
    background-color: white !important;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px 0 0 0;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: darkgrey;
  font-weight : bold;
  text-decoration : underline;
}

.noBorder tr,
.noBorder td { border: 0 !important; }

.transparentBackground tr,
.transparentBackground td {border: 0 !important; background: transparent !important; padding-bottom: 10px;}

.boxCointainer{
    width: 100%;
    border-color: red !important; 
    text-align: center; 
    height: 35px;
}

.box{
    display: inline-block;
    width: auto; 
    height: 35px;
    margin: 0px 10px;
   
}

#divUsuario{
    font-size: 13px;
}

.principal{
    height: 100%;
    min-height: 500px;
}

